body {
  
  margin: 0;
  font-family: 'Poppins', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
 
}


nav {
   
     padding: 0 1.5rem;
}


.content {

     min-height: calc(100vh - 70px - 56px);
     padding: 1.5rem 0;
}

.img {
         margin-top: 0.438rem;
         height: 3.3rem;
         width:  3.3rem;

}


.brand-logo {

    margin-left: 2rem;
   
}


.movies {
          display: grid;
          grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
          gap: 1rem;
}




.input-field {

          width: 100%;
          margin-top: 2.2rem;
          
}

.input-field input[type=search] {
  display: block;
  line-height: inherit;
  -webkit-transition: .3s background-color;
  transition: .3s background-color;
  margin: 8px 0;
  box-sizing: border-box;
  border-bottom: 2px solid #e0e0e0;
  
  
}

.input-field input[type=search]::placeholder {

    padding-left: 5px;

}

.waves-effect {

       position: absolute;
       top: 4px;
       right: 0.0rem;
       background-color: #5c6bc0;
      
}

.waves-effect:hover {

    background-color: #8c9eff;

}



label {

  margin-right: 1rem;


}


[type="radio"]:checked + span:after,
[type="radio"].with-gap:checked + span:before,
[type="radio"].with-gap:checked + span:after {
  
    border: 2px solid #3f51b5;
}


[type="radio"]:checked + span:after, 
[type="radio"].with-gap:checked + span:after {
  background-color: #3f51b5;
}


@media only screen and (max-width: 1180px) {

  .waves-effect {

    position: absolute;
    top: 3px;
    right: 0.0rem;
    background-color: #5c6bc0;
   
}


}


@media only screen and (max-width: 992px) {

  .waves-effect {

    position: absolute;
    top: 1px;
    right: 0.0rem;
    background-color: #5c6bc0;
   
}


.btn {

        margin-top:2px;

      }


.brand-logo {
    
  margin-left: 10px;

}



}

@media only screen and (max-width: 800px) {

  .brand-logo {
    
    margin-left: 5px;
  
  }


}

/* Small Devices, Tablets */


@media only screen and (max-width: 571px) {

  .brand-logo {
    
    margin-left: -8px;
  
  }


}


@media only screen and (max-width: 450px)  {



  .input-field input[type=search] {
    display: block;
    line-height: inherit;
    -webkit-appearance: none;
    -webkit-transition: .3s background-color;
    transition: .3s background-color;
    margin: 8px 0;
    box-sizing: border-box;
    border-bottom: 2px solid #e0e0e0;
    
    
  }

  .brand-logo {
    
    margin-left: -4px;
  
  }


  .input-field {

    width: 100%;
    margin-top: 2.2rem;
    -webkit-appearance: none;
    border-radius: 0;
  
     }


  .waves-effect {

    position: absolute;
    top: 0px;
    right: 0.0rem;
    background-color: #5c6bc0;
    
}

  .btn {

  height: 30px;
  width: 65px;
  font-size: 11px;
  padding: 0px 10px;
  line-height: 2.8;
  margin-top:8px;
   }


}


@media only screen and (max-width: 420px)  {

  .brand-logo {
    
    margin-left: 1px;
  
  }


}



